<% if session[:user_id] %>
	<h1>Welcome <%= @user.fname.capitalize %></h1>
	<h1>You have chose to know the truth...</h1>
	<h2><a href="/sign-out">Choose the Blue Pill</a></h2>
	<img src="images/matrix.gif" />
<% else %>
	<h1><a href="/sign-in">Follow the white rabbit!</a></h1>
	<img src="images/white_rabbit.png" />
<% end %>