<% if session[:user_id] %>
	<h1>Welcome <%= @user.fname.capitalize %></h1>
	<h1>You have chose to know the truth...</h1>
	<h2><a href="/sign-out">Choose the Blue Pill</a></h2>
	<img class="code-gif" src="images/matrix.gif" />
<% else %>
	<a href="/sign-in"><img class="rab" src="images/white_rabbit.png" /></a>
<% end %>